<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WiiTUIO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <WiiTUIO.Properties.Settings>
            <setting name="pointer_changeSystemCursor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pointer_moveCursor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="input" serializeAs="String">
                <value>pointer</value>
            </setting>
            <setting name="output" serializeAs="String">
                <value>tuio</value>
            </setting>
            <setting name="tuio_IP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="tuio_port" serializeAs="String">
                <value>3333</value>
            </setting>
            <setting name="windowsStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="connectOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pairedOnce" serializeAs="String">
                <value>False</value>
            </setting>
        </WiiTUIO.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
