<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MahApps.Metro" version="0.10.1.1" targetFramework="net45" />
  <package id="MahApps.Metro.Resources" version="0.1.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="TCD.System.ApplicationExtensions" version="1.1.0" targetFramework="net45" />
  <package id="TCD.System.TouchInjection" version="1.0.0" targetFramework="net45" />
</packages>